<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Rezervare sală de clasă</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css" type="text/css">

		<link rel="stylesheet" href="css/common.css" type="text/css">
		<link rel="stylesheet" href="css/Calendar.css" type="text/css">
		<link rel="stylesheet" href="css/index.css" type="text/css">
		<% if(locals.admin) {%>
			<link rel="stylesheet" href="css/admin.css" type="text/css">
		<% } %>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.5.2/superagent.js"></script>

		<script type="text/javascript" src="js/utils.js"></script>
		<script type="text/javascript" src="js/createElement.js"></script>
		<script type="text/javascript" src="js/Emitter.js"></script>
		<script type="text/javascript" src="js/Calendar.js"></script>
		<script type="text/javascript" src="js/Selector.js"></script>
		<script type="text/javascript" src="js/Erroneous.js"></script>
	</head>
	<body>
		<div id="app-bar">
			<h1 class="title">Rezervare sală de clasă</h1>
		</div>
		<div id="nav-bar">
			<div class="labeled-input">
				<label for="date">Dată</label>
				<input id="date" type="text" readonly="true">
			</div>
			<div class="labeled-input">
				<label for="rooms">Clasă</label>
				<div id="rooms"></div>
			</div>
			<i id="show-add-dialog" class="mdi mdi-plus fab"></i>
			<% if(locals.admin) {%>
				<i id="show-delete-dialog" class="mdi mdi-delete fab"></i>
			<% } %>
		</div>
		<div id="main">
			<div class="event header">
				<div class="hour">Oră</div>
				<div class="name">Nume</div>
				<div class="description">Descriere</div>
			</div>
			<div id="events"></div>
		</div>
		<div id="add-dialog-container" class="dialog-container">
			<div id="add-dialog" class="dialog">
				<div class="header">
					Adăugare rezervare
				</div>
				<div class="main">
					<div class="labeled-input">
						<label for="add-dialog-hour">Oră</label>
						<input id="add-dialog-hour" type="number" required="true" min="7" max="20" value="14">
					</div>
					<div class="labeled-input">
						<label for="add-dialog-name">Nume</label>
						<input id="add-dialog-name" type="text" required="true" placeholder="...">
					</div>
					<div class="labeled-input">
						<label for="add-dialog-description">Descriere</label>
						<input id="add-dialog-description" type="text" required="true" placeholder="...">
					</div>
					<div class="labeled-input">
						<label for="add-dialog-password">Parolă</label>
						<input id="add-dialog-password" type="password" required="true">
					</div>
				</div>
				<div class="actions">
					<button id="add-dialog-cancel" type="button">ANULEAZĂ</button>
					<button id="add-dialog-add" type="button">ADAUGĂ</button>
				</div>
			</div>
		</div>
		<% if(locals.admin) {%>
			<div id="delete-dialog-container" class="dialog-container">
				<div id="delete-dialog" class="dialog">
					<div class="header">
						Ștergere rezervare
					</div>
					<div class="main">
						<div class="labeled-input">
							<label for="delete-dialog-hour">Oră</label>
							<input id="delete-dialog-hour" type="number" required="true" min="7" max="20" value="14">
						</div>
						<div class="labeled-input">
							<label for="delete-dialog-password">Parolă</label>
							<input id="delete-dialog-password" type="password" required="true">
						</div>
					</div>
					<div class="actions">
						<button id="delete-dialog-cancel" type="button">ANULEAZĂ</button>
						<button id="delete-dialog-delete" type="button">ȘTERGE</button>
					</div>
				</div>
			</div>
		<% } %>
		<div id="error"></div>
		<script type="text/javascript" src="js/index.js"></script>
		<% if(locals.admin) {%>
			<script type="text/javascript" src="js/admin.js"></script>
		<% } %>
	</body>
</html>
