@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://cdn.materialdesignicons.com/1.9.32/css/materialdesignicons.min.css');
* {
    box-sizing: border-box;
}
body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    
    cursor: pointer;
}
input {
    border: 0;

    box-shadow: none;
    background: transparent;
}
input:focus {
    outline: 0;
}
button {
    border: 0;

    background: transparent;
}
button:focus {
    outline: 0;
}
