.labeled-input {
    display: inline-block;
    vertical-align: top;
}
.labeled-input > label {
    line-height: 16px;
    font-size: 12px;

    display: block;

    margin-bottom: 4px;
}
.labeled-input input {
    height: 28px;
    line-height: 28px;

    font-size: 14px;

    display: block;
}

#app-bar {
    width: 100%;
    height: 64px;
    line-height: 64px;

    padding: 0 32px;

    background: #00897B;
}
#app-bar .title {
    margin: 0;
    padding: 0;

    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}
#nav-bar {
    width: 100%;

    position: relative;

    padding: 32px;

    background: #009688;
}
#nav-bar .labeled-input {
    margin: 0 24px 0 0;
}
#nav-bar .labeled-input label {
    color: rgba(255, 255, 255, 0.54);
}
#nav-bar .labeled-input input {
    min-width: 256px;

    color: rgba(255, 255, 255, 0.87);

    border-bottom: 1px solid rgba(255, 255, 255, 0.26);

    transition: border 0.25s ease-out;
}
#nav-bar .labeled-input input:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
#nav-bar #rooms {
    color: rgba(255, 255, 255, 0.87);
    line-height: 20px;
    font-size: 16px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#nav-bar #rooms > * {
    display: inline-block;

    padding: 4px 12px;
    margin: 0 6px;

    border-radius: 14px;

    background: rgba(255, 255, 255, 0.1);

    cursor: pointer;

    transition: background 0.1s ease-out;
}
#nav-bar #rooms > *:hover {
    background: rgba(255, 255, 255, 0.2);
}
#nav-bar #rooms > *.active {
    background: rgba(255, 255, 255, 0.3);
}
#nav-bar #show-add-dialog {
    width: 48px;
    height: 48px;
    line-height: 48px;

    position: absolute;
    bottom: -24px;
    right: 24px;

    border-radius: 50%;

    background: #fff;

    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    text-align: center;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    cursor: pointer;

    transition: box-shadow 0.1s ease-out;
}
#nav-bar #show-add-dialog:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#nav-bar::after {
    content: 'empty';

    width: 100%;

    position: absolute;
    left: 0;
    bottom: 0;

    z-index: -1;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
